[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
whitenoise = "*"
gunicorn = "*"
# django = "*"
django = {editable = true, ref = "9c4045cadc05b7a26f7476f5b1cc6d426a8e9d32", git = "https://github.com/carltongibson/django.git"}
django-decouple = "*"

[requires]
python_version = "3.8"
